{% extends base_template %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">
        <div class="col-md-8">
            <div class="box box-danger ">
                <form action="#" method="POST">
                    <div class="box-header">   
                        <h4 class="box-title">{{'admin.channels.picker.title'|trans({}, 'BrandcodeNLSonataPublisherBundle')}}</h4>
                    </div>
                    
                    <div class="box-body">                               
                        <p>{{'admin.channels.picker.batch.lang.info'|trans({}, 'BrandcodeNLSonataPublisherBundle')}}</p>        
                        {% if admin.class is translatable %}
                            
                                {% for locale in sonata_translation_locales %}   
                                    <div class="form-checkbox-container">                         
                                        <input type="checkbox" id="locale_{{locale}}" name="locale[{{locale}}]" value="true">            
                                        <label for="channel_{{locale}}">{{locale | trans}}</label>      
                                    </div>
                                {% endfor %}
                    
                        {% endif %}
                        <p>{{'admin.channels.picker.batch.info'|trans({}, 'BrandcodeNLSonataPublisherBundle')}}</p>                    
                        {% for channel in channels %}       
                            <div class="form-checkbox-container">                           
                                <input type="checkbox" id="channel_{{loop.index0}}" name="channel[{{loop.index0}}]" value="true">            
                                <label for="channel_{{loop.index0}}">{{channel | trans}}</label>   
                            </div>
                        {% endfor %}
                        {% if channels|length == 0 %}
                            <p>{{'admin.channels.picker.no_channels'|trans({}, 'BrandcodeNLSonataPublisherBundle')}}</p>
                        {% endif %}
                    </div>
                    
                    <div class="box-footer clearfix">                     
                            <button type="submit" class="btn btn-danger">{{ 'btn_execute_publish_action'|trans({}, 'BrandcodeNLSonataPublisherBundle') }}</button>
                            {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                                <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">
                                    <i class="fa fa-th-list" aria-hidden="true"></i> {{ 'link_action_list'|trans({}, 'BrandcodeNLSonataPublisherBundle') }}
                                </a>
                            {% endif %}
                    
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="box">
                <div class="box-header">   
                    <h4 class="box-title"></h4>
                </div>
                {% for channelKey, template in batchTemplates %}
                <div data-channelKey="{{channelKey}}" class="batch-prepare-template" id="">
                    {{template | raw}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
 

{% endblock %}
